#
# SPDX-License-Identifier: MIT
#

menu "App Command Line Processor Options"

    config APP_COMMAND_STACK_SIZE
        int "Allocated stack size for command line task"
        default 5120
        help
	    Allocated stack size for command line task

endmenu
